*.o
*.a
*.so
*.log
localTcpClient 
localTcpServer 
localUdpClient 
localUdpServer
netTcpClient 
netTcpServer 
netUdpClient 
netUdpServer 

localTcpPath
localUdpPathServer
localUdpPathClient
netTcpPath
netUdpPath
